*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 200px;
  width: 150px;
}

.card {
  background-color: blueviolet;
  width: 250px;
}

.card h4 {
  margin: 10px 0;
}

.card-container {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}