/* .post-nav {
  top: 0;
  background-color: #373373;
  height: 60px;
  text-align: center;
}

.post-nav p {
  margin: 0;
  padding-top: 35px;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
} */

.Post-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.Post-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.Post-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.Post-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Post-input {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8;
}

.Post-input-file {
  font-size: 1.2rem;
}

.Post-submit {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Post-submit:hover {
  background-color: #0069d9;
}
